:root {
    --primary-dark: #2f3136;
    --primary-blue: #184580;
    --accent-blue: #4a6fa5;
    --light-blue: #64b5f6;
    --text-light: #e3f2fd;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--primary-dark);
    color: var(--text-light);
}

/* Főoldal stílusok */
.full-screen {
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--primary-blue);
}

.first-screen {
    background: linear-gradient(135deg, var(--primary-dark) 0%, var(--primary-blue) 100%);
    color: white;
}

kikerdezett_main{}

h1 {
    font-size: 3.5rem;
    font-weight: 700;
    margin-bottom: 20px;
    color: var(--light-blue);
}

/* Me  */
.asd {
    font-family: "Rubik Dirt", system-ui;
    font-weight: 400;
    font-style: normal;
}

.kikerdezett_main {
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 120px
}
